.eco-container {
  height: 50vh;
}
.eco-wrap {
  display: flex;
  padding: 0% 1%;
}
.eco-col-one {
  width: 40%;
  display: flex;
  height: 85vh;
}
.eco-col-two {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 85vh;
  padding-left: 25%;
}
.eco-img-one {
  width: 50%;
  height: 100%;
}
.eco-img-two {
  width: 50%;
  height: 100%;
  padding: 0% 1%;
}
.eco-title {
  text-align: right;
  font-family: 'rutanThin';
  color: #444444;
  opacity: 1;
  font-size: 50px;
  margin: 2% 0%;
}
.eco-text {
  text-align: right;
  font-family: 'roboto';
  font-size: 16px;
}
.eco-link {
  color: #444444;
  opacity: 0.4;
  font-family: 'roboto';
  font-size: 16px;
  text-align: right;
}

.top-border {
  width: 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  top: 0;
  position: absolute;
  right: 0;
}
.bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 50%;
  bottom: 0px;
  right: 0;
  position: absolute;
}
.eco-col-two a {
  color: #444444;
  text-align: right;
  margin: 1% 0%;
}
