.design-section {
  background-color: #fff9ef;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.design-title {
  text-align: center;
  color: #444444;
  opacity: 1;
  font-family: 'robotoLight';
  font-size: 50px;
  padding-bottom: 25px;
  font-weight: 100;
}
.design-wrap {
  display: flex;
}
.design-col-one {
  width: 100%;
  padding: 10px;
}
.design-img1 {
  width: 50%;
  padding: 10px 5px 10px 0px;
  height: 70vh;
}
.design-img2 {
  width: 50%;
  height: 70vh;
  padding: 10px 0px 10px 5px;
}
.design-text {
  font-family: 'roboto';
  font-size: 17px;
  text-align: justify;
}
.pipeline {
  border-right: 1px solid #444444;
  margin: 1% 0%;
  height: 10px;
}
.img-flex {
  display: flex;
}
