.fabric-section {
  height: 100%;
  width: 100%;
}

.fabric-group {
  display: flex;
  height: 75vh;
  width: 100%;
}

.fab-col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.fab-title {
  font-family: 'robotoThin';
  color: #444444;
  font-size: 40px;
  text-align: left;
  width: 75%;
}

.fab-text {
  font-family: 'robotoRegular';
  width: 75%;
  text-align: justify;
  color: #444444;
  font-size: 16px;
}

.fab-col-2 {
  display: flex;
  width: 50%;
}

.fab-img-col1,
.fab-img-col2 {
  width: 50%;
  height: 100%;
}

.fab-img-col1 {
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
}

.fab-img-col1 img {
  height: 50%;
  width: 100%;
  padding: 5px 0px;
}

.fab-img-col2 img {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.cotton-section {
  background: url('./banc.png');
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cotton-title {
  text-align: center;
}

.cotton-text {
  text-align: justify;
  width: 33%;
}
.felt-section {
  height: 95vh;
  width: 100%;
  display: flex;
  padding-top: 10px;
}
.fab-col1,
.fab-col2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fab-col1 img {
  width: 100%;
  height: 100%;
}
.felt-title {
  text-align: right;
}
.linen-section {
  height: 95vh;
  width: 100%;
  display: flex;
  padding-top: 10px;
}
.fab-col2 img {
  width: 100%;
  height: 100%;
}
.hemp-section {
  height: 95vh;
  width: 100%;
  display: flex;
  padding-top: 10px;
}
.hemp-row1,
.hemp-row2 {
  display: flex;
  height: 50%;
  width: 100%;
}
.hemp-row1 img {
  width: 50%;
  height: 100%;
  padding-right: 10px;
}
.hemp-row2 img {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-right: 10px;
}
.hemp-row2 {
  height: 100%;
  width: 100%;
}
.org-col {
  background: url('./right.png');
  background-size: 100% 100%;
}
.rec-col {
  background: url('./left.png');
  background-size: 100% 100%;
}
.rec-img,
.org-img {
  width: 300px !important;
  height: 300px !important;
}
#recycle {
  padding-bottom: 10px;
}
.bc {
  position: relative;
}
.back-to-top {
  position: absolute;
  width: 30px !important;
  height: 30px !important;
  bottom: 30px;
  right: 30px;
}
