.product-gallery-container {
  display: flex;
  padding: 10px;
}
.gallery-col-one {
  width: 60%;
}
.gallery-col-two {
  width: 40%;
}
.gallery-img1,
.gallery-img2 {
  height: 50%;
  width: 100%;
}
.gallery-img1 {
  padding-bottom: 10px;
}
.gallery-img3 {
  height: 100%;
  width: 100%;
  padding-left: 10px;
}
