.footer-section {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.footer-container {
  height: 15vh;
  background-color: #a39076;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer-row {
  font-family: 'robotoLight';
  letter-spacing: 0.64px;
  font-size: 16px;
  color: #ffffff;
  height: 85px;
  width: 100%;
  display: flex;
}
.footer-col {
  list-style: none;
  width: 25%;
  text-align: left;
  display: flex;
  justify-content: center;
}
.border-right {
  border-right: 1px solid #ffffff;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
}
.footer-section a {
  color: white;
}
@media only screen and (max-width: 425px) {
  .footer-row {
    height: 40px;
    font-size: 9px;
  }
  .footer-container {
    height: 15vh;
  }
}
@media only screen and (max-width: 375px) {
  .footer-row {
    height: 50px;
    font-size: 9px;
  }
  .footer-container {
    height: 15vh;
  }
}
