.web-logo {
  display: flex;
  justify-content: center;
  background-color: #a39076;
  height: 85px;
  width: 100%;
  position: fixed;
  z-index: 2;
}
.menu-wrap {
  height: 135px;
  z-index: 5;
}
.logo-img {
  width: 127px;
  height: 45px;
}
.nav-links {
  font-family: 'rutan';
  display: flex;
  justify-content: center;
  padding: 15px 0;
  letter-spacing: 2.56px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  position: fixed;
  width: 100%;
  background-color: #ffff;
  top: 85px;
  right: 0;
  left: 0;
}
.nav-links a {
  color: #000000;
  text-decoration: none;
  margin-right: 30px;
}
#navbar {
  position: fixed;
  top: 85px;
  width: 100vw;
  transition: top 0.8s;
  background-color: #fff;
  z-index: 1;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  top: 25%;
  bottom: 25%;
}
